name: test
on:
  pull_request:

jobs:
  test:
    name: packaging
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Make sure it handles running in workflows that haven't set up a Go toolchain
        go_toolchain_preinstalled:
          - true
          - false
    steps:
      - uses: actions/checkout@v4
        with:
          path: build
      - if: matrix.go_toolchain_preinstalled == true
        uses: actions/setup-go@v5
        with:
          cache: false
          go-version-file: build/go.mod
      - name: build binary
        id: build
        working-directory: build
        run: |
          go build -o template .
          echo "binary-path=$(readlink -f template)" | tee -a "$GITHUB_OUTPUT"
          ls -la
      - uses: actions/checkout@v4
        with:
          path: action
      - uses: ./action
        with:
          name: template
          description: Test packing the binary
          arch: amd64
          version: 1.0.0
          maintainer: HashiCorp
          homepage: https://github.com/hashicorp/actions-packaging-linux
          license: MPL-2.0
          binary: ${{ steps.build.outputs.binary-path }}
          bin_path: /usr/local/bin
          file_permissions: 0o027

      - name: dump RPM
        run: |
          echo "::group::maybe install rpm" 1>&2
          # runner is ubuntu, install rpm if it's not already available
          which rpm || apt install -y rpm
          echo "::endgroup::" 1>&2
          rpm -qplv out/*.rpm

      - name: dump deb
        run: |
          dpkg -c out/*.deb
